apiKey
blockKey
cmd/ai-server/ai-server
cmd/codenames-client/codenames-client
cmd/codenames-local/codenames-local
cmd/w2v-topn/w2v-topn
cmd/word-server/word-server
codenames.db
config
data/*.bin
data/words.txt
hashKey
node_modules
